<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="UITest">
    <classes>
      <class name="selenium.TitleTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="Model">
  	<classes>
  		<class name="com.excilys.cdb.model.ComputerTest" />
  		<class name="com.excilys.cdb.model.CompanyTest" />
  	  	<class name="com.excilys.cdb.model.ComputerFactoryTest" />
  	  	<class name="com.excilys.cdb.model.CompanyFactoryTest" />
  	</classes>
  </test>
  <test name="Dao">
  	<classes>
  		<class name="com.excilys.cdb.persistence.dao.DAOFactoryTest" />
  		<class name="com.excilys.cdb.persistence.dao.JdbcCompanyDAOTest" />
  		<class name="com.excilys.cdb.persistence.dao.JdbcComputerDAOTest" />
  	</classes>
  </test>
  <test name="Mapper">
  	<classes>
  	  	<class name="com.excilys.cdb.persistence.mapper.CompanyMapperTest" />
  	  	<class name="com.excilys.cdb.persistence.mapper.ComputerMapperTest" />  
  	</classes>
  </test>
</suite> <!-- Suite -->
